.adjustTitle {
    padding: 80px;
    text-align: center;
    font-family: "Futura Hv BT", Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}

.parametersCards,
.presetContainer {
    display: flex;
    justify-content: space-evenly;
    min-height: 100vh;
    flex-wrap: wrap;
    gap: 20px;
}

.presetContainer {
    min-height: 70vh;
}

.card {
    font-family: "Futura Hv BT", Arial, Helvetica, sans-serif;
    font-size: 26px;
    width: 420px;
    height: 420px;
    border: 1px solid #181818;
    border-radius: 15px;
    background-color: #181818;
    color: white;
    margin: 10px;
    padding: 40px 20px;
    text-align: center;
}

.card img {
    padding-top: 10px;
}

.card label {
    font-family: "Futura Lt BT", Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.card input {
    font-family: "Futura LT BT", Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 10px;
    padding: 15px;
    border-radius: 8px;
    box-sizing: border-box;
    outline: none;
    width: 240px;
    border: none;
}

.card input:focus {
    outline: 1px solid #34f47e;
}

.submit {
    background-color: #34f47e;
    color: #181818;
    border: none;
    border-radius: 8px;
    padding: 12px 20px;
    font-family: "Futura Md BT", Arial, Helvetica, sans-serif;
    font-size: 17px;
    transition: transform 0.3s ease, background-color 0.3s;
    cursor: pointer;
}

.submit:hover {
    transform: scale(1.2);
    background-color: #2dd16c;
}

.savePreset {
    position: fixed;
    bottom: 40px;
    right: 60px;
}

.savePreset .saveBtn {
    padding: 20px 28px;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    border-radius: 8px;
    font-family: "Futura Lt BT", Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-image: linear-gradient(
        90deg,
        #181818 0%,
        #181818 50%,
        white 50%,
        white 100%
    );
    background-size: 300%;
    transition: background-position 0.3s cubic-bezier(0.47, 0.1, 1, 0.63),
        color 0.2s linear;
    transition-delay: 0s, 0.15s;
}

.saveBtn:hover {
    background-position: -50% 100%;
    color: #181818;
    border-color: black;
}

.presetContainer a {
    text-decoration: none;
}

/* img {
    transition: transform 2s;
}

img:hover {
    transform: rotate(360deg) scale(1.5);
} */
